<!DOCTYPE html5>

<html>

<head>
<title>Wiki: New Page</title>
{% load staticfiles %}
<script src='{% static "pages/js/src/FormUtilities.js" %}'></script>
<script src='{% static "pages/js/src/NewPageSubmission.js" %}'></script>
</head>

<body>
<h1>Create New Wiki Page</h1>
<div id="new_page_form">
    <form action="">
        <div>
            <label>Page Title</label>
            <input type='text' name='title' />
         </div>
         
         <div>
            <label>Page URL Suffix</label>
            <input type='text' name='page_url' />
         </div>
         
         <div>
            <label>Page Content</label>
            <textarea name='page_content'></textarea>
         </div>
        
        <div>
            <button type="button" onClick="createNewPage(formToJson(this.form), new XMLHttpRequest(), window, document);">Create</button>
        </div>
    </form>
</div>
</body>

</html>