<!DOCTYPE html5>

<html>

<head>
    <title>Wiki: {{ page_title }}</title>
    {% load staticfiles %}
    <script src='{% static "pages/js/src/FormUtilities.js" %}'></script>
    <script src='{% static "pages/js/src/DeletePageSubmission.js" %}'></script>
</head>

<body>
    <h1>{{ page_title }}</h1>
    <div id="content">{{ page_content }}</div>
    <div id="controls">
        <a href="edit/">Edit Page</a>
        <button type="button" onClick="deletePage({}, new XMLHttpRequest(), window, document);">Delete</button>
    </div>
</body>

</html>